__pycache__/
*.pyc
venv/
.env/
data/
datasets/
*.pth
*.pt
*.ckpt
*.bin
*.safetensors
*.whl
logs/
output/
.vscode/
ipynb_checkpoints/
scripts/cache_dir/
# HuggingFace caches
.cache/
**/.cache/
cache_dir/
hf_cache/
wandb/